.main-border {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: .5em;
}

.user-fmt {
    padding-left: .5em;
    color: #838D95;
}

.nbmessage-background {
    padding: .5em;
    background-color: #E1ECF4;
    border-radius: 5px;
}

.nbmessage-thumbnail {
    padding-left: .5em;
    padding-top: .5em;
}

.nbmessage-h2 {
    margin-top: 0px;
}

.nbmessage-board {
    padding-top: 2em;
}

#nbmessage-board-admin-content {
    padding-left: 1em;
}

.nbmessage-render {
    padding-left: 1em;
}